
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.mb{
  margin-bottom: 110px;
}
h2 {
  font-weight: bold;
}
h3{


  font-weight: bold;
  text-shadow: 1px 2px 1px burlywood;
  letter-spacing: 5px;
}

h5{
  font-size: 16px;
}
@mixin ButtonHover {
    background-color: green;

    &:hover {
      background-color:#4E97D8 ;
    }
}
.ButtonHover {
  @include ButtonHover();

}
#_CompNavbars{
  nav {
    transition: all .5s ease;;
  }
    // animated scroll using javascript
  .animated_scrolling_change{
    background-color: rgb(255, 255, 255);
  }


  z-index: 9999;
  background-color: #fff;
  a{
    color: black ;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 1s ease;
    &:hover {
      color: blue;
      transition: all 0.55s ease-out;
    }
  }
  #CompNavbars_Logo{
    display: block;
    width: 20%;
  }


  li {
    text-align: center;
  }

  button{
    outline: 0;
    border: 0;
  }

  // mobile Nav
  .MobileNav  {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    .nav-link {
      &:hover {
        color: blue;
      }
    }

    small {
      margin-left: 20px;
      font-weight: 500;
      font-size: 13px;
    }
  }

  .social_media {
    display: flex ;
    justify-content: space-evenly;
    a{
      padding: 5px;
      text-decoration: none;
      line-height: 3px;
      // border: 1px solid chocolate;
      border-radius: 20px;
    }

  }
}


// Carousel_Header
#carousel_header {
  overflow:  hidden !important;
  p{
    width: 60%;
    margin:10px auto 0 auto ;
    margin-bottom: 20px;
  }

      .carousel-item {
          &::before  {
            content: '';
            background-color: rgba($color: #000000, $alpha: 0.4);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

          }
        }
        .carousel-caption {
          top: 40%;
          left: 15%;
        }

}
.caption_title{
    text-align: center;
    h4{
      font-size: 25px;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }
    &::after{
      display: block;
      content: '____________';
      font-weight: bold;
      color: red;
    }
  }
// Page Program
#program_kami {
  .card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  img{
    display: block;
    width: 100%;
    height: 300px;
  }
    .card-body{
      border-radius: 10px;
      position: absolute;
      top: 80%;
      background-color: white;
      width: 90%;
      // border-top: 5px solid red;
     border-bottom:3px solid green;

     small{
       color: grey;
     }

    }
  }
}
.card {
  background-color: #e9ecef;
}
#KenapaKami {
  .contents_acordion {
    button {
      color: orange;
      font-size: 18px;
      text-decoration: none;
      background-color: white;
      text-align: center !important;

      &:hover {
        color: orangered;
      }
    }

  }


  .card-header{
    margin-bottom: 20px;
  }
  .card-body {
    background-color: #17a2b8;
    color: white;
  }

}

#Statistik {
  background-image: url('https://static.republika.co.id/uploads/images/inpicture_slide/ribuan-guru-menghadiri-acara-puncak-peringatan-hari-guru-_131127185519-836.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right :0;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
}
#Team_Gallery{
  .gallery {
    background-image: url('https://images.pexels.com/photos/2694434/pexels-photo-2694434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transition: 1s;

    .image_gallery {
      overflow: hidden;
      img {
        cursor: zoom-in;
        width: 100%;
        margin-bottom: 10px;
        transition: 0.75s;
&:hover {
  transform: scale(1.2);
}

      }
    }
  }
}

footer {
  outline: none;
  border: none;
  .card {
    color: white;
    background: #360033;
    background: -webkit-linear-gradient(to top, #0b8793, #360033);
    background: linear-gradient(to top, #0b8793, #360033);

    .card-header {
      background: #780206;
      background: -webkit-linear-gradient(to left, #061161, #780206);
      background: linear-gradient(to left, #061161, #780206);

    }
    .card-footer {
      background: #C04848;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }
  }
  img{

    width: 120px;

  }
}
//Responsive Brekpoint

    @media (max-width: 2500px) {
      #DekstopNav{
        display: none;

      }

      h3{
        font-size: 50px;

      }
     }

     @media (max-width: 770px)
     {
.carousel-caption {
  button {
    display: none !important;
  }
}
      }

    @media (max-width: 769px) {

      #carousel_header{
        .carousel-caption {
          top: 25% !important;
        }
      }



    }

    @media (max-width: 500px) {
      .carousel-caption{
        p {
          display: none !important;
        }
      }
    }
    @media (max-width: 576px) {
      .carousel-caption {
        position: absolute;
        top: 10% !important;
        button{
          display: none;
        }
      }

    }






    // preLoader



    .loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('https://www.printpak.com.sg/image/catalog/icon/book_preloader.gif') 50% 50% no-repeat black;

  }